# --- Unity: COLREG_simulation (Nested) and Builds ---
**/COLREG_simulation/[Ll]ibrary/
**/COLREG_simulation/[Tt]emp/
**/COLREG_simulation/[Oo]bj/
**/COLREG_simulation/[Bb]uild/
**/COLREG_simulation/[Ll]ogs/
**/COLREG_simulation/[Uu]ser[Ss]ettings/
**/COLREG_simulation/[Pp]ackages/packages-lock.json
*.csproj
*.sln
*.slnx
*.userprefs
mono_crash.*
Builds/
# --- Unity objects from thesis project ---
UnityEnvironment/COLREG_simulation/Assets/Models/Boat.prefab
UnityEnvironment/COLREG_simulation/Assets/Models/Pool.prefab.meta
UnityEnvironment/COLREG_simulation/Assets/Models/Pool.prefab
UnityEnvironment/COLREG_simulation/Assets/Models/Environment.prefab.meta
UnityEnvironment/COLREG_simulation/Assets/Models/Environment.prefab
UnityEnvironment/COLREG_simulation/Assets/Models/Boat.prefab.meta

# --- Pythontrainer and Cache ---
__pycache__/
*.py[cod]
**/Pythontrainer/results/

# --- Models ---
**/Models/

# --- IDE & OS (Global junk) ---
.vscode/
.idea/
.DS_Store

# --- Critical: Do NOT ignore these ---
!*.physicMaterial
!*.meta